* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgb(238,232,214);
background: radial-gradient(circle, rgba(238,232,214,1) 0%, rgba(68,63,201,1) 100%);
}

ul {
  list-style: none;
}


h1,
h3,
h2,
h4 {
  color: #0f0f0f;
  text-align: center;
}

a {
  color: #0a0a0a;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  transform: scale(1.2);
  color: #7e0778;
 
}

p {
  font-weight: bold;
  margin: 0.5rem 0;
}


.showcase-top{
  margin: auto;
}

img{
  height: 60px;
  border-radius: 80px;
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgb(221, 220, 228);
  background: radial-gradient(circle, rgba(1,0,8,1) 0%, rgba(201,63,77,1) 100%)
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.showcase-content {
  position: relative;
  z-index: 2;
  width: 470px;
  height: 500px;
  background: rgba(156, 154, 158, 0.65);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 60px 60px;
  border-radius: 16px;
}

.formm h1 {
  margin-bottom: 20px;
}

.formm {
  width: 100%;
  margin-bottom: 40px;
}

.formm .info {
  padding: 5px 0;
  margin-bottom: 20px;
}

.formm .info .in {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: inherit;
}

.formm .btn {
  margin-bottom: 10px;
  width: 100%;
}

.btn-primary {
  width: 95%;
  height: 50px;
  border-radius: 5px;
  background: rgb(85, 18, 18);
  color: #ece2e2;
  font-size: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 0 rgba(116, 72, 72, 0.45);
  margin-top: -60px;
}

.help {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

/*  input */



#email{
  background: #ffffff;
  color: rgb(19, 18, 18);
}

input[type="password"] {
  background: #ffffff;
  color: rgb(15, 15, 15); 
}

/*  input end */

.signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signup p {
  margin-right: 15px;
}

.more {
  font-size: 0.8em;
  line-height: 1.1em;
}



::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #496989;
  border-radius: 10px;
  border: 1px solid #496989;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}


